body, html {
	background: url("../img/city.jpg");
	background-size: cover;
	margin: 0;
	width: 100%;
	height: 100%;
}

#form_auth {

}

.main__block {
	position: absolute;
	width: 55%;
	height: 70%;
	background: #fff;
	opacity: .9;
	top: 30px;
	right: 15px;
}

.main_block__header {
	background-color: #000;
	color: #fff;
	height: 60px;
}

.main_block__header_lib {
	font-weight: bold;
	font-size: 2.5em;
	padding-left: 10px;
	opacity: 1;
}

.form_block {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 500px;
	width: calc(100% - 2em);
	vertical-align: top;
	background: #fff;
}
